################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/jpeg-6b
/Debug
/.vs
/stb-master
edge_detection_c.sln
edge_detection_c.vcxproj
edge_detection_c.vcxproj.filters
edge_detection_c.vcxproj.users
x64/Release/edge_detection_auxiliary.obj
x64/Release/edge_detection_c.log
x64/Release/vc142.pdb
x64/Release/edge_detection_c.tlog/CL.command.1.tlog
x64/Release/edge_detection_c.tlog/CL.read.1.tlog
x64/Release/edge_detection_c.tlog/CL.write.1.tlog
x64/Release/edge_detection_c.tlog/edge_detection_c.lastbuildstate
x64/Release/edge_detection_c.tlog/unsuccessfulbuild
x64/Release/edge_detection_c.exe
x64/Release/edge_detection_c.exe.recipe
x64/Release/edge_detection_c.iobj
x64/Release/edge_detection_c.ipdb
x64/Release/edge_detection_c.pdb
x64/Release/edge_detection_c.vcxproj.FileListAbsolute.txt
x64/Release/main.obj
x64/Release/edge_detection_c.tlog/edge_detection_c.write.1u.tlog
x64/Release/edge_detection_c.tlog/link.command.1.tlog
x64/Release/edge_detection_c.tlog/link.read.1.tlog
x64/Release/edge_detection_c.tlog/link.write.1.tlog
